@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500;700;800&family=Raleway:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Darkmode/Lightmode Switch toggle */
#toggle {
    position: relative;
    display: block;
    margin-top: 5px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    background: #1F1F1F;
    transition: 0.5s;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}

/* Lightmode active */
#toggle.active {
    background: #E0E0E0;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}

/* Darkmode active */
#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: no-repeat center/50% url(../icones/darkmode.png);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(255,255,255,0.2);
    transition: 0.5s;

}
/* Lightmode active */
#toggle.active .indicator {
    left: 40px;
    background: no-repeat center/50% #eaeaea url(../icones/lightmode.png);
    /* linear-gradient(to bottom, #eaeaea, #E0E0E0); */
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,1),
                inset 0 -4px 4px rgba(255,255,255,1);
}

body {
    background: #383838;
    margin: 20px 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    transition: 0.5s;
    min-height: 100vh;
}

/* Lightmode active */
body.active {
    background: #E0E0E0;
}

/* Page display */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Console display */
.console-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.console {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 600px;
    background: #1F1F1F;
    border-radius: 30px;
    transition: 0.5s;
}


/* Lightmode active */
.console.active {
    background: #FFEEEC;
}

/* Console elements */
.consoleBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px dashed #9F9AA4;
    border-left: none;
    border-bottom: none;
    border-right: none;
    width: 400px;
    height: 50px;
    transition: 0.5s;
}

/* Lightmode active */
.consoleBoxes.active {
    border: 1px dashed #E7CFCD;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.boxChoiceColor {
    margin: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #9F9AA4;
    box-sizing: border-box;
}

/* Player choice */
.pickColors {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background: #1F1F1F;
    border-radius: 10px;
    width: min-content;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
}

/* Lightmode active */
.pickColors.active {
    border: 1px solid #E7CFCD;
    background: #FFF6F5;
}

/* Result buttons */
.colorButton {
    margin: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
}

.cta {
    border: 1px solid #E7CFCD;
    background-color: #C7BBD1;
    padding: 10px 30px;
    height: 40px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px;
}

#okButton {
    background-color: #AF91C9;
    border: none;
    transition: 0.5s;
}

/* Lightmode active */
.validate.active #okButton {
    border: 1px solid #E7CFCD;
    background-color: #D7B0AC;
}


#clearBttn {
    background-color: #D6C3E7;
    border: none;
    transition: 0.5s;
}

/* Lightmode active */
#clearBttnBox.active #clearBttn {
    border: 1px solid #E7CFCD;
    background-color: #FFF6F5;
}

#resetBttn {
    margin-top: 10px;
    background-color: #E3D5F0;
    color: #1F1F1F;
    transition: 0.5s;
}

/* Lightmode active */
#resetBttn.active {
    border: 1px solid #E7CFCD;
    background-color: #FFF6F5;
    color: #1F1F1F;
}

#blueButton {
    background: #5277B7;
}

#redButton {
    background: #B5173C;
}

#greenButton {
    background: #528E7C;
}
#yellowButton {
    background: #FCEA4A;
}
#purpleButton {
    background: #8A4FFF;
}

/* Result display */
.result-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    align-items: center;
}

.results  {
    width: 120px;
    height: 600px;
    background: #1F1F1F;
    border-radius: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

/* Lightmode active */
.results.active {
    background: #B3ADB8;
}

.divResults {
    border: 1px dashed #9F9AA4;
    border-left: none;
    border-bottom: none;
    border-right: none;
    margin: 0;
    padding: 0;
}

p.resultats span {
    color: red;
    padding-left: 15px;
}

p.resultats {
    margin: 10px;
}

p#nb-turn {
    color: #eaeaea;
}

/* Lightmode active */
p#nb-turn.active {
    color: #1F1F1F;
}

/* Small screens */
@media only screen and (max-width: 768px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
    .result-wrapper {
        padding-left: 5px;
    }

    div .console {
        width: 100%;
        height: 600px;
        margin-left: 4%;
    }

    .results  {
        width: 70px;
        height: 600px;
    }

    .consoleBoxes, div.consoleBoxesComputer{
        width: 300px;
        height: 50px;
    }
    
    .boxChoiceColor, div.boxChoiceColorComputer {
        height: 20px;
        width: 20px;
    }

    .colorButton {
        height: 20px;
        width: 20px;
    }

    p.resultats span {
        padding-left: 5px;
    }

    p.resultats {
        font-size: 14px;
    }
    
    .cta {
        border: 1px solid #E7CFCD;
        background-color: #fff;
        padding: 10px 15px;
        height: 40px;
    }

}

/* UW screens */
@media screen and (min-width: 1600px) {
    body {
        /* Taille fixe */
        width: 1600px;
        /* Centrer */
        margin-left: auto;
        margin-right: auto;
    }
  }


